.search-container {
  display: flex;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  margin-left: 10px;
}

.visible {
  width: 100%;
}

.hidden {
  width: 0;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}